#roulette-machine {
    transform: scale(70%);
    margin: auto;
    position: relative;
    background-image: url('machine1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 720px;
    height: 780px;
    z-index: 0;
}

#roulette-machine.state1 {
    background-image: url('machine1.png');
}
#roulette-machine.state2 {
    background-image: url('machine2.png');
}
#roulette-machine.state3 {
    background-image: url('machine3.png');
}

#roulette-pointer {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 100px;
    background-image: url('pointer.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

#roulette-wheel {
    position: absolute;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    width: 520px;
    height: 520px;
    background-image: url('wheel.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    transform-origin: center;
    transition: 7s ease-in-out;
}

@keyframes spin {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}