html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

* {
    box-sizing: border-box;
}

#reception-info {
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #4CAF50;
    color: white;
}

tbody tr {
    background-color: white;
}
tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.status-open {
    color: #005aff;
    font-weight: bold;
}

.status-closed {
    color: #ff4b00;
    font-weight: bold;
}

.status-unopened {
    color: gray;
    font-weight: bold;
}

.button-link {
    display: block;
    margin: 20px auto;
    width: fit-content;
    text-decoration: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: lightgray;
}

.optional {
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    padding: 10px;
    margin: 20px 0;
}

header {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
}

header img {
    height: 60px;
    border-radius: 50%;
}

.header-text h1 {
    margin: 0;
    padding-top: 7px;
}

.header-text div {
    padding-bottom: 7px;
    font-size: 1.2em;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

option:disabled {
    color: lightgray;
}

/* PC用スタイル */
@media screen and (min-width: 801px) {
    main {
        width: 60%;
        margin: 20px auto;
    }

    input[type="text"], input[type="number"], select {
        min-width: 300px;
        padding: 8px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .required {
        display: inline-block;
        background-color: #ff4b00;
        color: white;
        font-weight: bold;
        margin-bottom: 5px;
        width: fit-content;
        font-size: 0.8rem;
        padding: 2px 6px;
        margin-left: 5px;
        border-radius: 4px;
    }   
}

@media screen and (max-width: 800px) {
    main {
        width: 90%;
        margin: 10px auto;
    }

    input[type="text"], input[type="number"], select {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .required {
        display: inline-block;
        background-color: #ff4b00;
        color: white;
        font-weight: bold;
        margin-bottom: 5px;
        width: fit-content;
        font-size: 0.8em;
        padding: 2px 6px;
        margin-left: 5px;
        border-radius: 4px;
    }
}

#register-button {
    display: block;
    margin: 20px auto;
}

.center {
    text-align: center;
    border: #45a049 2px solid;
    border-radius: 10px;
    padding: 15px;
}

#reception-nickname {
    font-size: 1.5em;
    font-weight: bold;
}

#reception-time {
    font-size: 1.2em;
    margin-top: 5px;
}

#reception-meeting-time {
    margin-top: 5px;
}

#reception-qrcode {
    margin-top: 15px;
}

#reception-number {
    margin-top: 10px;
    font-size: 1.1em;
}